{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
<title>MyReservations</title>
{% endblock %}


{% block content %}
  <div class="d-flex flex-column">
     <h5 style="color: #8dca67; font-family: 'Times New Roman'">{{ user.username }} reservations</h5>

     <table class="table mb-3 table-hover table-striped">


    <tr>
        <th>Car</th>
        {% if user_type == 'car_dealer' %}<th>Customer</th>{% endif %}
        <th>Pick-Up Location</th>
        <th>Return Location</th>
        <th>Pick-Up Date</th>
        <th>Return Date</th>
        <th>Payment Status</th>
        <th>Delete Option</th>
    </tr>
    {% for r in reservation_list %}
    <tr>
        <td>{{ r.car.carName }}</td>
        {% if user_type == 'car_dealer'%}<td>{{r.customer.user.username}}</td>{% endif %}
        <td>{{r.pickUpLocation }}</td>
        <td>{{ r.returnLocation }}</td>
        <td>{{ r.pickUpDate }}</td>
        <td>{{ r.returnDate }}</td>
        <td>{{ r.paymentStatus }}</td>
        <td>
            <a href="/reservations/delete/customer/{{ r.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

  </div>

{% endblock %}