{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
    <title>Reservations</title>
{% endblock %}

{% block content %}
<table class="table mb-3 table-hover table-striped">
    <thead>
        <th>Car</th>
        <th>Customer</th>
        <th>carDealer</th>
        <th>pickUpLocation</th>
        <th>returnLocation</th>
        <th>pickUpDate</th>
        <th>returnDate</th>
        <th>paymentStatus</th>
    </thead>
    {% for data in dataset %}
    <tr>
        <td>{{data.car.carName}}</td>
        <td>{{data.customer.user.username}}</td>
        <td>{{data.carDealer.user.username}}</td>
        <td>{{data.pickUpLocation}}</td>
        <td>{{data.returnLocation}}</td>
        <td>{{data.pickUpDate}}</td>
        <td>{{data.returnDate}}</td>
        <td>{{data.paymentStatus}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}