{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
<title>MyReservations</title>
{% endblock %}


{% block content %}
  <div class="col">
     <h5 style="color: #8f908f; font-family: 'Times New Roman'">{{ user.username }} reservations' history</h5>

      {% if user_type == 'customer' %}
     <a href="/reservations/customer"> <button class="btn-hist btn-2 mb-3">
        <p>Switch for Current</p>
     </button></a>
         {% elif user_type == 'car_dealer' %}
          <a href="/reservations/cardealer"> <button class="btn-hist btn-2 mb-3">
             <p>Switch for Current</p>
          </button></a>
         {% else %}
     {% endif %}

     <table class="table mb-3 table-hover table-striped">


    <tr>
        <th>Plate</th>
        <th>Car</th>
         {% if user_type == 'car_dealer' %}<th>Username</th>{% endif %}
        <th>Pick-Up Location</th>
        <th>Return Location</th>
        <th>Pick-Up Date</th>
        <th>Return Date</th>
        <th>Payment Status</th>
    </tr>
    {% for r in reservation_history %}
    <tr>
        <td>{{ r.car.plate }}</td>
        <td>{{ r.car.carName }}</td>
        {% if user_type == 'car_dealer'%}<td>{{r.customer.user.username}}{{ r.customer_name }}</td>{% endif %}
        <td>{{r.pickUpLocation }}</td>
        <td>{{ r.returnLocation }}</td>
        <td>{{ r.pickUpDate }}</td>
        <td>{{ r.returnDate }}</td>
        <td>{{ r.paymentStatus }}</td>
    </tr>
    {% endfor %}

</table>

  </div>

{% endblock %}