{% extends 'layout/main.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <div style="padding-top: 150px;">
        <h2 style="font-family: 'Comic Sans MS'; color: #1b1b1b; ">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <a style="font-size:14px; " href="{% url 'home' %}">To Home</a>
            <button style="background-color: #ada5a9;" type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}