{% extends 'layout/main.html' %}
<title>Create an Account (TEST)</title>

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="mt-1">
    <h3 style="font-family: 'Comic Sans MS'; margin-left: 23px;">Registeration Form</h3>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    </div>


{% endblock %}