{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>MyReservations</title>
{% endblock %}

{% block content %}
<table style="width:80%; text-align:center">
    <tr>

        <th>CarID</th>
        <th>CustomerID</th>
        <th>carDealerID</th>
        <th>pickUpLocation</th>
        <th>returnLocation</th>
        <th>pickUpDate</th>
        <th>returnDate</th>
        <th>paymentStatus</th>
    </tr>
    <tr>
        {% for reservation in reservation_list %}
        <td>reservation.carID</td>
        <td>reservation.CustomerID</td>
        <td>reservation.carDealerID</td>
        <td>reservation.pickUpLocation</td>
        <td>reservation.returnLocation</td>
        <td>reservation.pickUpDate</td>
        <td>reservation.returnDate</td>
        <td>reservation.paymentStatus</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}