{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
<title>Branch List</title>
{% endblock %}

{% block content %}
<table class="table mb-3 table-hover table-striped">
    <thead>
    <th>Branch Name</th>
    <th>Location</th>
    <th class="text-center" colspan="2">
        <a href="{% url 'add_branch' %}">Add</a>
    </th>
    </thead>
    {% for data in dataset %}
    <tr>
        <td>{{data.branch_name}}</td>
        <td>{{data.branch_location}}</td>
        <td>
            <a href="{% url 'branch_update' pk=data.id %}">Update</a>
        </td>
        <td>
            <a href="{% url 'branch_delete' pk=data.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}