.search-card{
    background-color: white;
    width: 45%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.car-table{
    border: 2px darkslategrey solid;
}

.car-table{
    border: 2px darkslategrey solid;
}