{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
    <title>Car List</title>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <span>{{ pickUpLocation }} - {{ returnLocation }}</span> ---
            <span>{{ pickUpDate }} - {{ returnDate }}</span>
        </div>
        <table class="table mb-3 table-hover table-striped">
            <thead>
            <th>Image</th>
            <th>Plate</th>
            <th>Car Name</th>
            <th>Model</th>
            <th>AirConditioner</th>
            <th>Price</th>
            <th>Branch Name</th>
            <th>Number of Seats</th>
            <th>Number of Doors</th>
            <th>Transmission</th>
            <th>Year</th>
            <th>Km</th>
            <th>Status</th>
            <th></th>
            </thead>
            {% for data in cars %}
                <form action="/reservations/{{ data.id }}/{{ pickUpLocation }}/{{ returnLocation }}/{{ pickUpDate }}/{{ returnDate }}"
                      type="post">
                    <tr>
                        <td>{% if data.image %}<img src="{{data.image.url}}" height="150" width="150">{% endif %}</td>
                        <td>{{ data.plate }}</td>
                        <td>{{ data.carName }}</td>
                        <td>{{ data.model }}</td>
                        <td>{{ data.airconditioner }}</td>
                        <td>{{ data.price }}</td>
                        <td>{{ data.branch.branch_name }}</td>
                        <td>{{ data.numOfSeats }}</td>
                        <td>{{ data.numOfDoors }}</td>
                        <td>{{ data.transmission }}</td>
                        <td>{{ data.year }}</td>
                        <td>{{ data.km }}</td>
                        <td>{{ data.carStatus }}</td>
                       {% if user_type == 'car_dealer' or user_type == 'customer' %}
                        <td>
                            <button type="submit" class="btn btn-secondary">
                                Reserve
                            </button>
                        </td>
                       {% endif %}
                    </tr>
                </form>
            {% endfor %}
        </table>
    </div>

{% endblock %}