{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
<title>Car List</title>
{% endblock %}

{% block content %}

<div class="col">
<div class="car-table-admin">
    <h4 style="font-family: 'Times New Roman'; color: #8dca67">Available Cars on The System</h4>
    <div class="car-table rounded">
    <table class="table mb-3 table-hover table-striped">
    <thead>
    <th>Image</th>
    <th>Plate</th>
    <th>Car Name</th>
    <th>Model</th>
    <th>AirConditioner</th>
    <th>Price</th>
    <th>Branch Name</th>
    <th>Number of Seats</th>
    <th>Number of Doors</th>
    <th>Transmission</th>
    <th>Year</th>
    <th>Km</th>
    <th>Status</th>
    <th class="text-center" colspan="2">
             <a href="{% url 'create_car' %}"><button type="submit" class="btn btn-secondary mb-3 crt-btn button4" style="padding: 1em 1.5em">Create Car</button></a>
    </th>
    </thead>
    {% for data in dataset %}
    {% if data.carStatus == 1 %}
    <tr>
        <td>{% if data.image %}<img src="{{data.image.url}}" height="150" width="150">{% endif %}</td>
        <td>{{ data.plate }}</td>
        <td>{{data.carName}}</td>
        <td>{{data.model}}</td>
        <td>{{data.airconditioner}}</td>
        <td>{{data.price}}</td>
        <td>{{data.branch.branch_name}}</td>
        <td>{{data.numOfSeats}}</td>
        <td>{{data.numOfDoors}}</td>
        <td>{{data.transmission}}</td>
        <td>{{ data.year }}</td>
        <td>{{ data.km }}</td>
        <td>{{data.carStatus}}</td>
        <td>
            <a href="{% url 'car_update' pk=data.id %}"><button type="submit" class="btn btn-info">Update</button></a>
        </td>
        <td>
            <a href="{% url 'branch_delete' pk=data.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    {% endif %}
    {% endfor %}
    </table>
    </tr>
    </div>
</div>
<br>
<br>
<br>
<div class="car-table-admin">
    <h4 style="font-family: 'Times New Roman'; color: #8dca67">Unavailable Cars on The System</h4>
    <div class="car-table rounded">
    <table class="table mb-3 table-hover table-striped">
    <thead>
    <th>Image</th>
    <th>Plate</th>
    <th>Car Name</th>
    <th>Model</th>
    <th>AirConditioner</th>
    <th>Price</th>
    <th>Branch Name</th>
    <th>Number of Seats</th>
    <th>Number of Doors</th>
    <th>Transmission</th>
    <th>Year</th>
    <th>Km</th>
    <th>Status</th>
    <th class="text-center" colspan="2">
       <div style="width: 143px;">
     <a href="{% url 'create_car' %}"><button type="submit" class="btn btn-secondary mb-3 crt-btn button4" style="padding: 1em 1.5em">Create Car</button></a>
 </div>
    </th>
    </thead>
    {% for data in dataset %}
    {% if data.carStatus == 0 %}
    <tr>
        <td>{% if data.image %}<img src="{{data.image.url}}" height="150" width="150">{% endif %}</td>
        <td>{{ data.plate }}</td>
        <td>{{data.carName}}</td>
        <td>{{data.model}}</td>
        <td>{{data.airconditioner}}</td>
        <td>{{data.price}}</td>
        <td>{{data.branch.branch_name}}</td>
        <td>{{data.numOfSeats}}</td>
        <td>{{data.numOfDoors}}</td>
        <td>{{data.transmission}}</td>
        <td>{{ data.year }}</td>
        <td>{{ data.km }}</td>
        <td>{{data.carStatus}}</td>
        <td>
            <a href="{% url 'car_update' pk=data.id %}"><button type="submit" class="btn btn-info">Update</button></a>
        </td>
        <td>
             <a href="{% url 'branch_delete' pk=data.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>
</div>
</div>
{% endblock %}