{% extends 'layout/main.html' %}
{% load static %}

{% block title %}
<title>Car List</title>
{% endblock %}

{% block content %}

 <div class="col">
     <h4 style="font-family: 'Times New Roman'; color: #8dca67">Cars on Your Branch</h4>
     <a href="{% url 'create_car' %}"><button type="submit" class="btn btn-secondary mb-3 crt-btn button4" style="padding: 1em 1.5em">Create Car</button></a>

<table class="table mb-3 table-hover table-striped">
    <thead>
    <th>Image</th>
    <th>Car Name</th>
    <th>Plate</th>
    <th>Year</th>
    <th>Km</th>
    <th>Model</th>
    <th>AirConditioner</th>
    <th>Price</th>
    <th>Branch Name</th>
    <th>Number of Seats</th>
    <th>Number of Doors</th>
    <th>Transmission</th>
    <th>Status</th>
    <th></th>
    <th></th>
    </thead>
    {% for data in dataset %}
    <tr>
        <td>{% if data.image %}<img src="{{data.image.url}}" height="150" width="150">{% endif %}</td>
        <td>{{data.carName}}</td>
        <td>{{data.plate}}</td>
        <td>{{data.year}}</td>
        <td>{{data.km}}</td>
        <td>{{data.model}}</td>
        <td>{{data.airconditioner}}</td>
        <td>{{data.price}}</td>
        <td>{{data.branch.branch_name}}</td>
        <td>{{data.numOfSeats}}</td>
        <td>{{data.numOfDoors}}</td>
        <td>{{data.transmission}}</td>
        <td>{{data.carStatus}}</td>
        <td>
             <a href="{% url 'car_update' pk=data.id %}"><button type="submit" class="btn btn-info">Update</button></a>
        </td>
        <td>
            <a href="{% url 'branch_delete' pk=data.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>

    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}