{% load static %}

<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/rentaridelogo.png' %}" alt="">
            </a>
            {% if user.is_authenticated %}
            <p>Welcome! <a href="#">{{ user.username }}</a></p>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                Home
                            </a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/car/list">
                                CarList
                            </a>
                        </li>
                        {% if user_type == 'car_dealer' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'car_list' %}">
                                Control Panel
                            </a>
                        </li>

                        {% endif %}

                        {% if user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'car_list' %}">
                                Dashboard
                            </a>
                        </li>

                        {% endif %}

                        {% if user_type == 'customer' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations/customer">
                                Reservations
                            </a>
                        </li>

                        {% endif %}
                        {% if user_type == 'car_dealer' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations/cardealer">
                                Reservations
                            </a>
                        </li>
                        {% endif %}
                        {% if user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations/admin">
                                Reservations
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>